.login-form{
    border: 3px solid #09ecec;
    padding: 30px;
    width: 500px;
    background: #e9ecef42;
    margin: 50px auto;
    border-radius: 7px;
}
.form-input{
    border: none;
    border-bottom: 1px solid #ddd;
}
button{
    width: 100%;
    background: orange;
    border: 1px solid;
    padding: 5px;
}